*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: black ;
    /* background: radial-gradient(#ffc38c, #ff9b40 ); */
}

body {
    margin: 0;
    font-family: 'Press Start 2P';
}

input {
    width: 100%;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.4);
}

label {
    font-size: 20px;
}

h2 {
    font-size: 20px;
    padding-bottom: 60px;
    /* position: absolute; */
    text-transform: uppercase;
}

#login h2 {
   
}

#background-tint {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#white-background {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
    clip-path: polygon(65% 0%,
                100% 0%,
                100% 100%,
                45% 100%);
    height: 100vh;
    width: 100%;

}

#flatiron-slice {
    position: fixed;
    background-color: cyan;
        z-index: 3;
        height: 100vh;
        width: 100vw;
    clip-path: polygon(65% 0%,
                70% 0%,
                50% 100%,
                45% 100%);

}


#flatiron-slice2 {
    position: fixed;
    background-color: cyan;
    z-index: 3;
    height: 100vh;
    width: 100vw;
clip-path: polygon(75% 0%,
            80% 0%,
            60% 100%,
            55% 100%);

}

 /* #flatiron-slice::after {
    content:'';
    background-color:red;

    clip-path: polygon(85% 0%,
                90% 0%,
                70% 100%,
                65% 100%); 
}  */

/* #flatiron-slice2 {
clip-path: polygon(95% 0%,70% 0%,50% 100%,45% 100%);
    
} */

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 300px;
    width: 500px;

    border-radius: 20px;
    z-index: 100;
    top:55%;
    left:85%;
    transform: translate(-50%,-50%);

}

#flatiron-logo {
    color: cyan;


}

#background-video {
    position: fixed;
    height: 100vh;
    width: 100%;
    object-fit: fill;
    z-index: -1;
    display: block;
    margin: 0 auto;
}

#login-input {
margin-top: 30px;
}


#login-form{
    
    width: 80%;
    display:flex;
    flex-direction: column;
     align-items: center;
}

#buttons {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

#buttons button {
    font-family: 'Press Start 2P';
    padding:10px 5px;
    width: 180px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    
}

